p {
    font-family: Roboto;
   margin-top: 0 ;
    margin-bottom: 0;
}

.text {
        font-size: larger;
        font-weight: bold;
   
        width: 300px;
       padding-bottom: 6px;
       line-height: 24px;
}

.views {
    font-weight: lighter;
 
    color: rgb(80, 74, 74);
    font-size: 14px;
    margin-bottom: 20px;
  
}
    
.author {
    font-weight: lighter;
   
    color: rgb(80, 74, 74);
  
    margin-bottom: 12px;
}
.description {
    font-weight: lighter;
   
    color: rgb(80, 74, 74);
   
    padding-bottom: 100px;
    width: 290px;
    line-height: 22px;
}
.shop {
    font-weight: lighter;
  
    color: rgb(234, 225, 225);
  
    background-color: rgb(237, 45, 45);
  
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;    
}
.shop-link {
    cursor: pointer;
    margin-left: 10px;
}
.shop-link:hover {
    text-decoration: underline;
}

